<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <!-- start main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/aboutus.jpg" height="300" width="300" alt="Rajeev K. Varshney" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text_clr">Mern Stack Developer</span> And Freelancer</h1>
                        <a href="/http://rajeevvarshney56.github.io"><button class="">About Me</button></a>
                    </div>
                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- end main header -->
    <!-- start footer code -->
      {{>footer}}
    <!-- end footer code -->
</body>

</html>